.basic-button {
  background-color: #4765FF;
  color: white;
  text-align: center;
  padding: 12px;
  border: 0;
  outline: none;
}

.basic-input {
  background-color: #4765FF;
  text-align: center;
  padding: 12px;
  color: white;
  border-radius: 8px;
  border: 0;
  outline: none;
}

.basic-input::placeholder {
  color: white;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
